FORMAT: 1A
HOST: http://core.app/api

#BROSA

The APIs listed in this documentation are for reference purposes. The intent is to provide BROSA products related data as requested in API requests listed in hierarchy

# Group Collection

Collections are the top most parent in the entity hierarchy

## All Collections [/collections]

### Try this API [GET]

Paginated lists of all BROSA product collections 

+ Response 200 (application/json)
    
        {"collections":[{"id":1,"name":"Ake","products":[{"id":1,"name":"2 Seater","variants":[]},{"id":2,"name":"3 Seater","variants":[]},{"id":3,"name":"Ottoman","variants":[]},{"id":4,"name":"Armchair","variants":[]},{"id":590,"name":"Sofa","variants":[]}]},{"id":2,"name":"Alf","products":[{"id":5,"name":"Shelf","variants":[]}]},{"id":3,"name":"Alon","products":[{"id":6,"name":"Swivel Office Chair","variants":[]},{"id":527,"name":"Office Chair","variants":[]},{"id":809,"name":"Chairs","variants":[{"id":15,"sku":"CHAALN04GRY","cost_type":"FOB (USD)","cost_price":148,"is_active":true,"attributes":[{"id":12,"name":"Main Colour","value":"Grey"}]},{"id":16,"sku":"CHAALN03RED","cost_type":"FOB (USD)","cost_price":148,"is_active":true,"attributes":[{"id":12,"name":"Main Colour","value":"Red"}]},{"id":17,"sku":"CHAALN02BLU","cost_type":"FOB (USD)","cost_price":148,"is_active":true,"attributes":[{"id":12,"name":"Main Colour","value":"Blue"}]},{"id":18,"sku":"CHAALN01BLA","cost_type":"FOB (USD)","cost_price":148,"is_active":true,"attributes":[{"id":12,"name":"Main Colour","value":"Black"}]}]}]},{"id":4,"name":"Anica","products":[{"id":7,"name":"Queen Size Bed Frame","variants":[{"id":2728,"sku":"BHDANI04GRYQB","cost_type":null,"cost_price":null,"is_active":true,"attributes":[]},{"id":2729,"sku":"BHDANI05BLAQB","cost_type":null,"cost_price":null,"is_active":true,"attributes":[]},{"id":2730,"sku":"BHDANI06ANTQB","cost_type":null,"cost_price":null,"is_active":true,"attributes":[]},{"id":2731,"sku":"BHDANI08TEAQB","cost_type":null,"cost_price":null,"is_active":true,"attributes":[]}]},{"id":8,"name":"King Size Bed Frame","variants":[]},{"id":217,"name":"Double Size Storage Bed Frame","variants":[]},{"id":218,"name":"Single Size Bed Frame","variants":[]},{"id":449,"name":"Queen Size Bed Head","variants":[]},{"id":450,"name":"King Size Bed Head","variants":[]},{"id":507,"name":"Bed Frame","variants":[]},{"id":513,"name":"Bed Head","variants":[]},{"id":790,"name":"Beds","variants":[{"id":19,"sku":"BEDANI01BEIQB","cost_type":"FOB (USD)","cost_price":285,"is_active":false,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB"},{"id":8,"name":"Product Width (cm)","value":"220"},{"id":9,"name":"Product Depth (cm)","value":"168"},{"id":10,"name":"Product Height (cm)","value":"38"},{"id":11,"name":"Product Dead Weight (kg)","value":"27"},{"id":12,"name":"Main Colour","value":"French Beige"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-3"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"FP"}]},{"id":20,"sku":"BEDANI02BLAQB","cost_type":"FOB (USD)","cost_price":285,"is_active":false,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB"},{"id":8,"name":"Product Width (cm)","value":"220"},{"id":9,"name":"Product Depth (cm)","value":"168"},{"id":10,"name":"Product Height (cm)","value":"38"},{"id":11,"name":"Product Dead Weight (kg)","value":"27"},{"id":12,"name":"Main Colour","value":"Night Black"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-21"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"FP"}]},{"id":21,"sku":"BEDANI03GRYQB","cost_type":"FOB (USD)","cost_price":285,"is_active":false,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB"},{"id":8,"name":"Product Width (cm)","value":"220"},{"id":9,"name":"Product Depth (cm)","value":"168"},{"id":10,"name":"Product Height (cm)","value":"38"},{"id":11,"name":"Product Dead Weight (kg)","value":"27"},{"id":12,"name":"Main Colour","value":"Stone Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-18"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"FP"}]},{"id":22,"sku":"BEDANI07HGRYQB","cost_type":"FOB (USD)","cost_price":285,"is_active":false,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB"},{"id":8,"name":"Product Width (cm)","value":"220"},{"id":9,"name":"Product Depth (cm)","value":"168"},{"id":10,"name":"Product Height (cm)","value":"38"},{"id":11,"name":"Product Dead Weight (kg)","value":"27"},{"id":12,"name":"Main Colour","value":"Heron Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-9"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"FP"}]},{"id":23,"sku":"BEDANI09CGRYQB","cost_type":"FOB (USD)","cost_price":285,"is_active":false,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB"},{"id":8,"name":"Product Width (cm)","value":"220"},{"id":9,"name":"Product Depth (cm)","value":"168"},{"id":10,"name":"Product Height (cm)","value":"38"},{"id":11,"name":"Product Dead Weight (kg)","value":"27"},{"id":12,"name":"Main Colour","value":"Cloud Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-8"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"FP"}]},{"id":24,"sku":"BEDANI04BEIKB","cost_type":"FOB (USD)","cost_price":320,"is_active":false,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB"},{"id":8,"name":"Product Width (cm)","value":"220"},{"id":9,"name":"Product Depth (cm)","value":"202.5"},{"id":10,"name":"Product Height (cm)","value":"38"},{"id":11,"name":"Product Dead Weight (kg)","value":"32"},{"id":12,"name":"Main Colour","value":"French Beige"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-3"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"FP"}]},{"id":25,"sku":"BEDANI05BLAKB","cost_type":"FOB (USD)","cost_price":320,"is_active":false,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB"},{"id":8,"name":"Product Width (cm)","value":"220"},{"id":9,"name":"Product Depth (cm)","value":"202.5"},{"id":10,"name":"Product Height (cm)","value":"38"},{"id":11,"name":"Product Dead Weight (kg)","value":"32"},{"id":12,"name":"Main Colour","value":"Night Black"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-21"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"FP"}]},{"id":26,"sku":"BEDANI06GRYKB","cost_type":"FOB (USD)","cost_price":320,"is_active":false,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB"},{"id":8,"name":"Product Width (cm)","value":"220"},{"id":9,"name":"Product Depth (cm)","value":"202.5"},{"id":10,"name":"Product Height (cm)","value":"38"},{"id":11,"name":"Product Dead Weight (kg)","value":"32"},{"id":12,"name":"Main Colour","value":"Stone Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-18"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"FP"}]},{"id":27,"sku":"BEDANI08HGRYKB","cost_type":"FOB (USD)","cost_price":320,"is_active":false,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB"},{"id":8,"name":"Product Width (cm)","value":"220"},{"id":9,"name":"Product Depth (cm)","value":"202.5"},{"id":10,"name":"Product Height (cm)","value":"38"},{"id":11,"name":"Product Dead Weight (kg)","value":"32"},{"id":12,"name":"Main Colour","value":"Heron Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-9"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"FP"}]},{"id":28,"sku":"BEDANI10CGRYKB","cost_type":"FOB (USD)","cost_price":320,"is_active":false,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB"},{"id":8,"name":"Product Width (cm)","value":"220"},{"id":9,"name":"Product Depth (cm)","value":"202.5"},{"id":10,"name":"Product Height (cm)","value":"38"},{"id":11,"name":"Product Dead Weight (kg)","value":"32"},{"id":12,"name":"Main Colour","value":"Cloud Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-8"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"FP"}]},{"id":2757,"sku":"BHDANI01BEIQB","cost_type":"FOB (USD)","cost_price":135,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB-BHD"},{"id":8,"name":"Product Width (cm)","value":"168"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"25"},{"id":12,"name":"Main Colour","value":"French Beige"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-3"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-queen-frenchberige-anica-1.jpg?v=1451875537"}]},{"id":2758,"sku":"BHDANI02BLAQB","cost_type":"FOB (USD)","cost_price":135,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB-BHD"},{"id":8,"name":"Product Width (cm)","value":"168"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"25"},{"id":12,"name":"Main Colour","value":"Night Black"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-21"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-queen-nightblack-anica-1.jpg?v=1451875537"}]},{"id":2759,"sku":"BHDANI03CGRYQB","cost_type":"FOB (USD)","cost_price":135,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB-BHD"},{"id":8,"name":"Product Width (cm)","value":"168"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"25"},{"id":12,"name":"Main Colour","value":"Cloud Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-8"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-queen-cloudgrey-anica-1.jpg?v=1451875537"}]},{"id":2760,"sku":"BHDANI04GRYQB","cost_type":"FOB (USD)","cost_price":135,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB-BHD"},{"id":8,"name":"Product Width (cm)","value":"168"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"25"},{"id":12,"name":"Main Colour","value":"Stone Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-18"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-queen-stonegrey-anica-1.jpg?v=1451877968"}]},{"id":2761,"sku":"BHDANI05BLAQB","cost_type":"FOB (USD) WP","cost_price":122.5,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB-BHD"},{"id":8,"name":"Product Width (cm)","value":"168"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"25"},{"id":12,"name":"Main Colour","value":"Ebony Black"},{"id":13,"name":"Colour Collection","value":"Warwick Mystere"},{"id":14,"name":"Main Colour Code","value":"FAB-BLA04-WM"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-queen-ebonyblack-anica-1.jpg?v=1451888494"}]},{"id":2762,"sku":"BHDANI06ANTQB","cost_type":"FOB (USD) WP","cost_price":122.5,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB-BHD"},{"id":8,"name":"Product Width (cm)","value":"168"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"25"},{"id":12,"name":"Main Colour","value":"Cosmic Anthracite"},{"id":13,"name":"Colour Collection","value":"Warwick Mystere"},{"id":14,"name":"Main Colour Code","value":"FAB-ANT01-WM"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-queen-cosmicantracite-anica-1.jpg?v=1451875537"}]},{"id":2763,"sku":"BHDANI07OBLUQB","cost_type":"FOB (USD) WP","cost_price":122.5,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB-BHD"},{"id":8,"name":"Product Width (cm)","value":"168"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"25"},{"id":12,"name":"Main Colour","value":"Ocean Blue"},{"id":13,"name":"Colour Collection","value":"Warwick Mystere"},{"id":14,"name":"Main Colour Code","value":"FAB-BLU06-WM"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-queen-oceanblue-anica-1.jpg?v=1451888361"}]},{"id":2764,"sku":"BHDANI08TEAQB","cost_type":"FOB (USD) WP","cost_price":122.5,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB-BHD"},{"id":8,"name":"Product Width (cm)","value":"168"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"25"},{"id":12,"name":"Main Colour","value":"Peacock Teal"},{"id":13,"name":"Colour Collection","value":"Warwick Mystere"},{"id":14,"name":"Main Colour Code","value":"FAB-TEA01-WM"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-queen-peacockteal-anica-1.jpg?v=1451888351"}]},{"id":2765,"sku":"BHDANI09HERQB","cost_type":"FOB (USD) WP","cost_price":122.5,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB-BHD"},{"id":8,"name":"Product Width (cm)","value":"168"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"25"},{"id":12,"name":"Main Colour","value":"Heritage Red"},{"id":13,"name":"Colour Collection","value":"Warwick Mystere"},{"id":14,"name":"Main Colour Code","value":"FAB-HER01-WM"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-queen-mystereheritage-anica-1.jpg?v=1451888362"}]},{"id":2766,"sku":"BHDANI10BEIKB","cost_type":"FOB (USD)","cost_price":150,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB-BHD"},{"id":8,"name":"Product Width (cm)","value":"202.5"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"30"},{"id":12,"name":"Main Colour","value":"French Beige"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-3"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-king-frenchberige-anica-1.jpg?v=1451877900"}]},{"id":2767,"sku":"BHDANI11BLAKB","cost_type":"FOB (USD)","cost_price":150,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB-BHD"},{"id":8,"name":"Product Width (cm)","value":"202.5"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"30"},{"id":12,"name":"Main Colour","value":"Night Black"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-21"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-king-nightblack-anica-1.jpg?v=1451877900"}]},{"id":2768,"sku":"BHDANI12CGRYKB","cost_type":"FOB (USD)","cost_price":150,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB-BHD"},{"id":8,"name":"Product Width (cm)","value":"202.5"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"30"},{"id":12,"name":"Main Colour","value":"Cloud Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-8"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-king-cloudgrey-anica-1.jpg?v=1451877900"}]},{"id":2769,"sku":"BHDANI13GRYKB","cost_type":"FOB (USD)","cost_price":150,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB-BHD"},{"id":8,"name":"Product Width (cm)","value":"202.5"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"30"},{"id":12,"name":"Main Colour","value":"Stone Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-18"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-king-stonegrey-anica-1.jpg?v=1451877900"}]},{"id":2770,"sku":"BHDANI14BLAKB","cost_type":"FOB (USD) WP","cost_price":135,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB-BHD"},{"id":8,"name":"Product Width (cm)","value":"202.5"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"30"},{"id":12,"name":"Main Colour","value":"Ebony Black"},{"id":13,"name":"Colour Collection","value":"Warwick Mystere"},{"id":14,"name":"Main Colour Code","value":"FAB-BLA04-WM"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-king-ebonyblack-anica-1.jpg?v=1451877900"}]},{"id":2771,"sku":"BHDANI15ANTKB","cost_type":"FOB (USD) WP","cost_price":135,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB-BHD"},{"id":8,"name":"Product Width (cm)","value":"202.5"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"30"},{"id":12,"name":"Main Colour","value":"Cosmic Anthracite"},{"id":13,"name":"Colour Collection","value":"Warwick Mystere"},{"id":14,"name":"Main Colour Code","value":"FAB-ANT01-WM"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-king-cosmicantracite-anica-1.jpg?v=1451877900"}]},{"id":2772,"sku":"BHDANI16OBLUKB","cost_type":"FOB (USD) WP","cost_price":135,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB-BHD"},{"id":8,"name":"Product Width (cm)","value":"202.5"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"30"},{"id":12,"name":"Main Colour","value":"Ocean Blue"},{"id":13,"name":"Colour Collection","value":"Warwick Mystere"},{"id":14,"name":"Main Colour Code","value":"FAB-BLU06-WM"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-king-oceanblue-anica-1.jpg?v=1451877900"}]},{"id":2773,"sku":"BHDANI17TEAKB","cost_type":"FOB (USD) WP","cost_price":135,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB-BHD"},{"id":8,"name":"Product Width (cm)","value":"202.5"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"30"},{"id":12,"name":"Main Colour","value":"Peacock Teal"},{"id":13,"name":"Colour Collection","value":"Warwick Mystere"},{"id":14,"name":"Main Colour Code","value":"FAB-TEA01-WM"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-king-peacockteal-anica-1.jpg?v=1451877900"}]},{"id":2774,"sku":"BHDANI18HERKB","cost_type":"FOB (USD) WP","cost_price":135,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB-BHD"},{"id":8,"name":"Product Width (cm)","value":"202.5"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"30"},{"id":12,"name":"Main Colour","value":"Heritage Red"},{"id":13,"name":"Colour Collection","value":"Warwick Mystere"},{"id":14,"name":"Main Colour Code","value":"FAB-HER01-WM"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-king-mystereheritage-anica-1.jpg?v=1451877900"}]},{"id":2893,"sku":"BHDANI19GRYQB","cost_type":"FOB (USD)","cost_price":135,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB-BHD"},{"id":8,"name":"Product Width (cm)","value":"168"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"25"},{"id":12,"name":"Main Colour","value":"Heron Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-9"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"}]},{"id":2894,"sku":"BHDANI20GRYKB","cost_type":"FOB (USD)","cost_price":150,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB-BHD"},{"id":8,"name":"Product Width (cm)","value":"202.5"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"30"},{"id":12,"name":"Main Colour","value":"Heron Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-9"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"}]},{"id":4897,"sku":"BHDANI21BLUQB","cost_type":"FOB (USD)","cost_price":128,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB-BHD"},{"id":8,"name":"Product Width (cm)","value":"168"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"25"},{"id":12,"name":"Main Colour","value":"Porcelain Blue"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-16"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam"},{"id":30,"name":"Assembly Level","value":"KD"}]},{"id":4898,"sku":"BHDANI22BLUKB","cost_type":"FOB (USD)","cost_price":152,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB-BHD"},{"id":8,"name":"Product Width (cm)","value":"202.5"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"30"},{"id":12,"name":"Main Colour","value":"Porcelain Blue"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-16"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam"},{"id":30,"name":"Assembly Level","value":"KD"}]}]}]},{"id":5,"name":"Audrey","products":[{"id":9,"name":"Dining Chair set of 2","variants":[]},{"id":528,"name":"Dining Chair","variants":[]}]}],"count":5,"pages":69,"current_page":1}

## Collection By ID [/collection/{id}]

### Try this API [GET]

BROSA product collection by collection ID 

+ Response 200 (application/json)
    
        {"collections":[{"id":1,"name":"Ake","products":[{"id":1,"name":"2 Seater","variants":[]},{"id":2,"name":"3 Seater","variants":[]},{"id":3,"name":"Ottoman","variants":[]},{"id":4,"name":"Armchair","variants":[]},{"id":590,"name":"Sofa","variants":[]}]},{"id":2,"name":"Alf","products":[{"id":5,"name":"Shelf","variants":[]}]},{"id":3,"name":"Alon","products":[{"id":6,"name":"Swivel Office Chair","variants":[]},{"id":527,"name":"Office Chair","variants":[]},{"id":809,"name":"Chairs","variants":[{"id":15,"sku":"CHAALN04GRY","cost_type":"FOB (USD)","cost_price":148,"is_active":true,"attributes":[{"id":12,"name":"Main Colour","value":"Grey"}]},{"id":16,"sku":"CHAALN03RED","cost_type":"FOB (USD)","cost_price":148,"is_active":true,"attributes":[{"id":12,"name":"Main Colour","value":"Red"}]},{"id":17,"sku":"CHAALN02BLU","cost_type":"FOB (USD)","cost_price":148,"is_active":true,"attributes":[{"id":12,"name":"Main Colour","value":"Blue"}]},{"id":18,"sku":"CHAALN01BLA","cost_type":"FOB (USD)","cost_price":148,"is_active":true,"attributes":[{"id":12,"name":"Main Colour","value":"Black"}]}]}]},{"id":4,"name":"Anica","products":[{"id":7,"name":"Queen Size Bed Frame","variants":[{"id":2728,"sku":"BHDANI04GRYQB","cost_type":null,"cost_price":null,"is_active":true,"attributes":[]},{"id":2729,"sku":"BHDANI05BLAQB","cost_type":null,"cost_price":null,"is_active":true,"attributes":[]},{"id":2730,"sku":"BHDANI06ANTQB","cost_type":null,"cost_price":null,"is_active":true,"attributes":[]},{"id":2731,"sku":"BHDANI08TEAQB","cost_type":null,"cost_price":null,"is_active":true,"attributes":[]}]},{"id":8,"name":"King Size Bed Frame","variants":[]},{"id":217,"name":"Double Size Storage Bed Frame","variants":[]},{"id":218,"name":"Single Size Bed Frame","variants":[]},{"id":449,"name":"Queen Size Bed Head","variants":[]},{"id":450,"name":"King Size Bed Head","variants":[]},{"id":507,"name":"Bed Frame","variants":[]},{"id":513,"name":"Bed Head","variants":[]},{"id":790,"name":"Beds","variants":[{"id":19,"sku":"BEDANI01BEIQB","cost_type":"FOB (USD)","cost_price":285,"is_active":false,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB"},{"id":8,"name":"Product Width (cm)","value":"220"},{"id":9,"name":"Product Depth (cm)","value":"168"},{"id":10,"name":"Product Height (cm)","value":"38"},{"id":11,"name":"Product Dead Weight (kg)","value":"27"},{"id":12,"name":"Main Colour","value":"French Beige"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-3"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"FP"}]},{"id":20,"sku":"BEDANI02BLAQB","cost_type":"FOB (USD)","cost_price":285,"is_active":false,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB"},{"id":8,"name":"Product Width (cm)","value":"220"},{"id":9,"name":"Product Depth (cm)","value":"168"},{"id":10,"name":"Product Height (cm)","value":"38"},{"id":11,"name":"Product Dead Weight (kg)","value":"27"},{"id":12,"name":"Main Colour","value":"Night Black"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-21"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"FP"}]},{"id":21,"sku":"BEDANI03GRYQB","cost_type":"FOB (USD)","cost_price":285,"is_active":false,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB"},{"id":8,"name":"Product Width (cm)","value":"220"},{"id":9,"name":"Product Depth (cm)","value":"168"},{"id":10,"name":"Product Height (cm)","value":"38"},{"id":11,"name":"Product Dead Weight (kg)","value":"27"},{"id":12,"name":"Main Colour","value":"Stone Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-18"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"FP"}]},{"id":22,"sku":"BEDANI07HGRYQB","cost_type":"FOB (USD)","cost_price":285,"is_active":false,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB"},{"id":8,"name":"Product Width (cm)","value":"220"},{"id":9,"name":"Product Depth (cm)","value":"168"},{"id":10,"name":"Product Height (cm)","value":"38"},{"id":11,"name":"Product Dead Weight (kg)","value":"27"},{"id":12,"name":"Main Colour","value":"Heron Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-9"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"FP"}]},{"id":23,"sku":"BEDANI09CGRYQB","cost_type":"FOB (USD)","cost_price":285,"is_active":false,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB"},{"id":8,"name":"Product Width (cm)","value":"220"},{"id":9,"name":"Product Depth (cm)","value":"168"},{"id":10,"name":"Product Height (cm)","value":"38"},{"id":11,"name":"Product Dead Weight (kg)","value":"27"},{"id":12,"name":"Main Colour","value":"Cloud Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-8"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"FP"}]},{"id":24,"sku":"BEDANI04BEIKB","cost_type":"FOB (USD)","cost_price":320,"is_active":false,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB"},{"id":8,"name":"Product Width (cm)","value":"220"},{"id":9,"name":"Product Depth (cm)","value":"202.5"},{"id":10,"name":"Product Height (cm)","value":"38"},{"id":11,"name":"Product Dead Weight (kg)","value":"32"},{"id":12,"name":"Main Colour","value":"French Beige"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-3"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"FP"}]},{"id":25,"sku":"BEDANI05BLAKB","cost_type":"FOB (USD)","cost_price":320,"is_active":false,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB"},{"id":8,"name":"Product Width (cm)","value":"220"},{"id":9,"name":"Product Depth (cm)","value":"202.5"},{"id":10,"name":"Product Height (cm)","value":"38"},{"id":11,"name":"Product Dead Weight (kg)","value":"32"},{"id":12,"name":"Main Colour","value":"Night Black"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-21"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"FP"}]},{"id":26,"sku":"BEDANI06GRYKB","cost_type":"FOB (USD)","cost_price":320,"is_active":false,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB"},{"id":8,"name":"Product Width (cm)","value":"220"},{"id":9,"name":"Product Depth (cm)","value":"202.5"},{"id":10,"name":"Product Height (cm)","value":"38"},{"id":11,"name":"Product Dead Weight (kg)","value":"32"},{"id":12,"name":"Main Colour","value":"Stone Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-18"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"FP"}]},{"id":27,"sku":"BEDANI08HGRYKB","cost_type":"FOB (USD)","cost_price":320,"is_active":false,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB"},{"id":8,"name":"Product Width (cm)","value":"220"},{"id":9,"name":"Product Depth (cm)","value":"202.5"},{"id":10,"name":"Product Height (cm)","value":"38"},{"id":11,"name":"Product Dead Weight (kg)","value":"32"},{"id":12,"name":"Main Colour","value":"Heron Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-9"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"FP"}]},{"id":28,"sku":"BEDANI10CGRYKB","cost_type":"FOB (USD)","cost_price":320,"is_active":false,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB"},{"id":8,"name":"Product Width (cm)","value":"220"},{"id":9,"name":"Product Depth (cm)","value":"202.5"},{"id":10,"name":"Product Height (cm)","value":"38"},{"id":11,"name":"Product Dead Weight (kg)","value":"32"},{"id":12,"name":"Main Colour","value":"Cloud Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-8"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"FP"}]},{"id":2757,"sku":"BHDANI01BEIQB","cost_type":"FOB (USD)","cost_price":135,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB-BHD"},{"id":8,"name":"Product Width (cm)","value":"168"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"25"},{"id":12,"name":"Main Colour","value":"French Beige"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-3"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-queen-frenchberige-anica-1.jpg?v=1451875537"}]},{"id":2758,"sku":"BHDANI02BLAQB","cost_type":"FOB (USD)","cost_price":135,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB-BHD"},{"id":8,"name":"Product Width (cm)","value":"168"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"25"},{"id":12,"name":"Main Colour","value":"Night Black"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-21"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-queen-nightblack-anica-1.jpg?v=1451875537"}]},{"id":2759,"sku":"BHDANI03CGRYQB","cost_type":"FOB (USD)","cost_price":135,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB-BHD"},{"id":8,"name":"Product Width (cm)","value":"168"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"25"},{"id":12,"name":"Main Colour","value":"Cloud Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-8"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-queen-cloudgrey-anica-1.jpg?v=1451875537"}]},{"id":2760,"sku":"BHDANI04GRYQB","cost_type":"FOB (USD)","cost_price":135,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB-BHD"},{"id":8,"name":"Product Width (cm)","value":"168"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"25"},{"id":12,"name":"Main Colour","value":"Stone Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-18"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-queen-stonegrey-anica-1.jpg?v=1451877968"}]},{"id":2761,"sku":"BHDANI05BLAQB","cost_type":"FOB (USD) WP","cost_price":122.5,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB-BHD"},{"id":8,"name":"Product Width (cm)","value":"168"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"25"},{"id":12,"name":"Main Colour","value":"Ebony Black"},{"id":13,"name":"Colour Collection","value":"Warwick Mystere"},{"id":14,"name":"Main Colour Code","value":"FAB-BLA04-WM"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-queen-ebonyblack-anica-1.jpg?v=1451888494"}]},{"id":2762,"sku":"BHDANI06ANTQB","cost_type":"FOB (USD) WP","cost_price":122.5,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB-BHD"},{"id":8,"name":"Product Width (cm)","value":"168"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"25"},{"id":12,"name":"Main Colour","value":"Cosmic Anthracite"},{"id":13,"name":"Colour Collection","value":"Warwick Mystere"},{"id":14,"name":"Main Colour Code","value":"FAB-ANT01-WM"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-queen-cosmicantracite-anica-1.jpg?v=1451875537"}]},{"id":2763,"sku":"BHDANI07OBLUQB","cost_type":"FOB (USD) WP","cost_price":122.5,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB-BHD"},{"id":8,"name":"Product Width (cm)","value":"168"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"25"},{"id":12,"name":"Main Colour","value":"Ocean Blue"},{"id":13,"name":"Colour Collection","value":"Warwick Mystere"},{"id":14,"name":"Main Colour Code","value":"FAB-BLU06-WM"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-queen-oceanblue-anica-1.jpg?v=1451888361"}]},{"id":2764,"sku":"BHDANI08TEAQB","cost_type":"FOB (USD) WP","cost_price":122.5,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB-BHD"},{"id":8,"name":"Product Width (cm)","value":"168"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"25"},{"id":12,"name":"Main Colour","value":"Peacock Teal"},{"id":13,"name":"Colour Collection","value":"Warwick Mystere"},{"id":14,"name":"Main Colour Code","value":"FAB-TEA01-WM"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-queen-peacockteal-anica-1.jpg?v=1451888351"}]},{"id":2765,"sku":"BHDANI09HERQB","cost_type":"FOB (USD) WP","cost_price":122.5,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB-BHD"},{"id":8,"name":"Product Width (cm)","value":"168"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"25"},{"id":12,"name":"Main Colour","value":"Heritage Red"},{"id":13,"name":"Colour Collection","value":"Warwick Mystere"},{"id":14,"name":"Main Colour Code","value":"FAB-HER01-WM"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-queen-mystereheritage-anica-1.jpg?v=1451888362"}]},{"id":2766,"sku":"BHDANI10BEIKB","cost_type":"FOB (USD)","cost_price":150,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB-BHD"},{"id":8,"name":"Product Width (cm)","value":"202.5"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"30"},{"id":12,"name":"Main Colour","value":"French Beige"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-3"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-king-frenchberige-anica-1.jpg?v=1451877900"}]},{"id":2767,"sku":"BHDANI11BLAKB","cost_type":"FOB (USD)","cost_price":150,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB-BHD"},{"id":8,"name":"Product Width (cm)","value":"202.5"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"30"},{"id":12,"name":"Main Colour","value":"Night Black"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-21"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-king-nightblack-anica-1.jpg?v=1451877900"}]},{"id":2768,"sku":"BHDANI12CGRYKB","cost_type":"FOB (USD)","cost_price":150,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB-BHD"},{"id":8,"name":"Product Width (cm)","value":"202.5"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"30"},{"id":12,"name":"Main Colour","value":"Cloud Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-8"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-king-cloudgrey-anica-1.jpg?v=1451877900"}]},{"id":2769,"sku":"BHDANI13GRYKB","cost_type":"FOB (USD)","cost_price":150,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB-BHD"},{"id":8,"name":"Product Width (cm)","value":"202.5"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"30"},{"id":12,"name":"Main Colour","value":"Stone Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-18"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-king-stonegrey-anica-1.jpg?v=1451877900"}]},{"id":2770,"sku":"BHDANI14BLAKB","cost_type":"FOB (USD) WP","cost_price":135,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB-BHD"},{"id":8,"name":"Product Width (cm)","value":"202.5"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"30"},{"id":12,"name":"Main Colour","value":"Ebony Black"},{"id":13,"name":"Colour Collection","value":"Warwick Mystere"},{"id":14,"name":"Main Colour Code","value":"FAB-BLA04-WM"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-king-ebonyblack-anica-1.jpg?v=1451877900"}]},{"id":2771,"sku":"BHDANI15ANTKB","cost_type":"FOB (USD) WP","cost_price":135,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB-BHD"},{"id":8,"name":"Product Width (cm)","value":"202.5"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"30"},{"id":12,"name":"Main Colour","value":"Cosmic Anthracite"},{"id":13,"name":"Colour Collection","value":"Warwick Mystere"},{"id":14,"name":"Main Colour Code","value":"FAB-ANT01-WM"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-king-cosmicantracite-anica-1.jpg?v=1451877900"}]},{"id":2772,"sku":"BHDANI16OBLUKB","cost_type":"FOB (USD) WP","cost_price":135,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB-BHD"},{"id":8,"name":"Product Width (cm)","value":"202.5"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"30"},{"id":12,"name":"Main Colour","value":"Ocean Blue"},{"id":13,"name":"Colour Collection","value":"Warwick Mystere"},{"id":14,"name":"Main Colour Code","value":"FAB-BLU06-WM"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-king-oceanblue-anica-1.jpg?v=1451877900"}]},{"id":2773,"sku":"BHDANI17TEAKB","cost_type":"FOB (USD) WP","cost_price":135,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB-BHD"},{"id":8,"name":"Product Width (cm)","value":"202.5"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"30"},{"id":12,"name":"Main Colour","value":"Peacock Teal"},{"id":13,"name":"Colour Collection","value":"Warwick Mystere"},{"id":14,"name":"Main Colour Code","value":"FAB-TEA01-WM"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-king-peacockteal-anica-1.jpg?v=1451877900"}]},{"id":2774,"sku":"BHDANI18HERKB","cost_type":"FOB (USD) WP","cost_price":135,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB-BHD"},{"id":8,"name":"Product Width (cm)","value":"202.5"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"30"},{"id":12,"name":"Main Colour","value":"Heritage Red"},{"id":13,"name":"Colour Collection","value":"Warwick Mystere"},{"id":14,"name":"Main Colour Code","value":"FAB-HER01-WM"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"},{"id":31,"name":"Image URL","value":"https:\/\/cdn.shopify.com\/s\/files\/1\/0737\/3319\/products\/bed-head-king-mystereheritage-anica-1.jpg?v=1451877900"}]},{"id":2893,"sku":"BHDANI19GRYQB","cost_type":"FOB (USD)","cost_price":135,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB-BHD"},{"id":8,"name":"Product Width (cm)","value":"168"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"25"},{"id":12,"name":"Main Colour","value":"Heron Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-9"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"}]},{"id":2894,"sku":"BHDANI20GRYKB","cost_type":"FOB (USD)","cost_price":150,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB-BHD"},{"id":8,"name":"Product Width (cm)","value":"202.5"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"30"},{"id":12,"name":"Main Colour","value":"Heron Grey"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-9"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam "},{"id":30,"name":"Assembly Level","value":"KD"}]},{"id":4897,"sku":"BHDANI21BLUQB","cost_type":"FOB (USD)","cost_price":128,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029QB-BHD"},{"id":8,"name":"Product Width (cm)","value":"168"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"25"},{"id":12,"name":"Main Colour","value":"Porcelain Blue"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-16"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam"},{"id":30,"name":"Assembly Level","value":"KD"}]},{"id":4898,"sku":"BHDANI22BLUKB","cost_type":"FOB (USD)","cost_price":152,"is_active":true,"attributes":[{"id":6,"name":"Factory SKU","value":"275029KB-BHD"},{"id":8,"name":"Product Width (cm)","value":"202.5"},{"id":9,"name":"Product Depth (cm)","value":"27"},{"id":10,"name":"Product Height (cm)","value":"130"},{"id":11,"name":"Product Dead Weight (kg)","value":"30"},{"id":12,"name":"Main Colour","value":"Porcelain Blue"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-16"},{"id":18,"name":"Detailing","value":"Matching colour buttons"},{"id":19,"name":"Frame Wood Type","value":"Miscellaneous hardwood"},{"id":20,"name":"Leg Wood Type","value":"Birch"},{"id":21,"name":"Leg Colour","value":"Black"},{"id":22,"name":"Leg Colour Code","value":"dm-legbwblack1"},{"id":23,"name":"Finish Type","value":"Laquered - Matte"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam"},{"id":30,"name":"Assembly Level","value":"KD"}]}]}]},{"id":5,"name":"Audrey","products":[{"id":9,"name":"Dining Chair set of 2","variants":[]},{"id":528,"name":"Dining Chair","variants":[]}]}],"count":5,"pages":69,"current_page":1}

# Group Product

Each Product belongs to/is a child of a Collection and has many Variants

## All Products [/products]

### Try this API [GET]

Paginated lists of all BROSA products 

+ Response 200 (application/json)

        {"products":[{"id":11,"name":"Shaggy Rug 170 x 240cm","variants":[]},{"id":12,"name":"Swivel Office Chair","variants":[]},{"id":14,"name":"Wool Rug 170 x 240cm","variants":[]},{"id":15,"name":"Scoop Back Dining Chair","variants":[]},{"id":16,"name":"Brosa Limited","variants":[{"id":577,"sku":"Parts- BEDLEI01BEI\/QB (Gas lift Strut, screws & Bottom CardBoard)","cost_type":null,"cost_price":null,"is_active":false,"attributes":[]},{"id":1540,"sku":"CHAPIL03CRM","cost_type":null,"cost_price":null,"is_active":true,"attributes":[]},{"id":3288,"sku":"OTOMKN16BLU","cost_type":null,"cost_price":null,"is_active":true,"attributes":[]},{"id":3662,"sku":"","cost_type":null,"cost_price":null,"is_active":true,"attributes":[]},{"id":3755,"sku":"CHAMIA15OAK","cost_type":null,"cost_price":null,"is_active":true,"attributes":[]},{"id":4054,"sku":"CHAESP19BEI2X","cost_type":null,"cost_price":null,"is_active":true,"attributes":[]},{"id":4151,"sku":"Archived","cost_type":null,"cost_price":null,"is_active":false,"attributes":[]},{"id":4782,"sku":"BEDANN01BEIQB","cost_type":"FOB (USD)","cost_price":514,"is_active":false,"attributes":[{"id":6,"name":"Factory SKU","value":"MC660-Q"},{"id":8,"name":"Product Width (cm)","value":"220"},{"id":9,"name":"Product Depth (cm)","value":"168"},{"id":10,"name":"Product Height (cm)","value":"133"},{"id":11,"name":"Product Dead Weight (kg)","value":"50"},{"id":12,"name":"Main Colour","value":"French Beige"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-3"},{"id":19,"name":"Frame Wood Type","value":"Oak"},{"id":20,"name":"Leg Wood Type","value":"Oak"},{"id":21,"name":"Leg Colour","value":"Natural"},{"id":22,"name":"Leg Colour Code","value":"Brushed wax finish heritage legs D272-R"},{"id":23,"name":"Finish Type","value":"WBW"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam Core and Polyster wadding"},{"id":30,"name":"Assembly Level","value":"FP"}]},{"id":6376,"sku":"","cost_type":null,"cost_price":null,"is_active":true,"attributes":[]}]}],"count":5,"pages":203,"current_page":3}

# Group Variant

Each Variant belongs to/is a child of a Product and has many Attributes

## All Variants [/variants]

### Try this API [GET]

Paginated lists of all BROSA product variants 

+ Response 200 (application/json)

        {"variants":[{"id":1,"sku":"SOFAKE10BLA","cost_type":null,"cost_price":null,"is_active":false,"attributes":[{"id":12,"name":"Main Colour","value":"Obsidian Black"}]},{"id":2,"sku":"SOFAKE06GRY","cost_type":null,"cost_price":null,"is_active":false,"attributes":[{"id":12,"name":"Main Colour","value":"Gun Metal"}]},{"id":3,"sku":"SOFAKE02GRE","cost_type":null,"cost_price":null,"is_active":false,"attributes":[{"id":12,"name":"Main Colour","value":"Olive Green"}]},{"id":4,"sku":"SOFAKE09BLA","cost_type":null,"cost_price":null,"is_active":false,"attributes":[{"id":12,"name":"Main Colour","value":"Obsidian Black"}]},{"id":5,"sku":"SOFAKE05GRY","cost_type":null,"cost_price":null,"is_active":false,"attributes":[{"id":12,"name":"Main Colour","value":"Gun Metal"}]}],"count":5,"pages":1394,"current_page":1}        

# Group Attributes

## All Attributes [/attributes]

Each Attribute belongs to/is a child of a Product's Variant

### Try this API [GET]

Paginated lists of all BROSA product variant attributes 

+ Response 200 (application/json)

        {"attributes":[{"id":6,"name":"Factory SKU","value":""},{"id":7,"name":"Product Sub-Type","value":""},{"id":8,"name":"Product Width (cm)","value":""},{"id":9,"name":"Product Depth (cm)","value":""},{"id":10,"name":"Product Height (cm)","value":""}],"count":5,"pages":6,"current_page":1}