FORMAT: 1A
HOST: http://core.app/api

#BROSA

The APIs listed in this documentation are for reference purposes. The intent is to provide BROSA products related data as requested in API requests listed in hierarchy

# Group Collection

Collections are the top most parent in the entity hierarchy

## All Collections [/collections]

### Try this API [GET]

Paginated lists of all BROSA product collections 

+ Response 200 (application/json)
    
        {"collections":"name"}

## All Collections with products [/collections/products]

### Try this API [GET]

Paginated lists of all BROSA product collections 

+ Response 200 (application/json)
    
        {"collections":"name"}

## All Collections with products with variants [/collections/products/variants]

### Try this API [GET]

Paginated lists of all BROSA product collections 

+ Response 200 (application/json)
    
        {"collections":"name"}

## All Collections with products with variants with attributes [/collections/products/variants/attributes]

### Try this API [GET]

Paginated lists of all BROSA product collections 

+ Response 200 (application/json)
    
        {"collections":"name"}

## Collection by ID [/collection/{id}]

### Try this API [GET]

Paginated lists of all BROSA product collections 

+ Response 200 (application/json)
    
        {"collections":"name"}

## Collection by ID with products [/collection/{id}/products]

### Try this API [GET]

Paginated lists of all BROSA product collections 

+ Response 200 (application/json)
    
        {"collections":"name"}

## Collection by ID with products with variants [/collection/{id}/products/variants]

### Try this API [GET]

Paginated lists of all BROSA product collections 

+ Response 200 (application/json)
    
        {"collections":"name"}

## Collection by ID with products with variants with attributes [/collection/{id}/products/variants/attributes]

### Try this API [GET]

Paginated lists of all BROSA product collections 

+ Response 200 (application/json)
    
        {"collections":"name"}

# Group Product

Each Product belongs to/is a child of a Collection and has many Variants

## All Products [/products]

### Try this API [GET]

Paginated lists of all BROSA products 

+ Response 200 (application/json)

        {"products":[{"id":11,"name":"Shaggy Rug 170 x 240cm","variants":[]},{"id":12,"name":"Swivel Office Chair","variants":[]},{"id":14,"name":"Wool Rug 170 x 240cm","variants":[]},{"id":15,"name":"Scoop Back Dining Chair","variants":[]},{"id":16,"name":"Brosa Limited","variants":[{"id":577,"sku":"Parts- BEDLEI01BEI\/QB (Gas lift Strut, screws & Bottom CardBoard)","cost_type":null,"cost_price":null,"is_active":false,"attributes":[]},{"id":1540,"sku":"CHAPIL03CRM","cost_type":null,"cost_price":null,"is_active":true,"attributes":[]},{"id":3288,"sku":"OTOMKN16BLU","cost_type":null,"cost_price":null,"is_active":true,"attributes":[]},{"id":3662,"sku":"","cost_type":null,"cost_price":null,"is_active":true,"attributes":[]},{"id":3755,"sku":"CHAMIA15OAK","cost_type":null,"cost_price":null,"is_active":true,"attributes":[]},{"id":4054,"sku":"CHAESP19BEI2X","cost_type":null,"cost_price":null,"is_active":true,"attributes":[]},{"id":4151,"sku":"Archived","cost_type":null,"cost_price":null,"is_active":false,"attributes":[]},{"id":4782,"sku":"BEDANN01BEIQB","cost_type":"FOB (USD)","cost_price":514,"is_active":false,"attributes":[{"id":6,"name":"Factory SKU","value":"MC660-Q"},{"id":8,"name":"Product Width (cm)","value":"220"},{"id":9,"name":"Product Depth (cm)","value":"168"},{"id":10,"name":"Product Height (cm)","value":"133"},{"id":11,"name":"Product Dead Weight (kg)","value":"50"},{"id":12,"name":"Main Colour","value":"French Beige"},{"id":13,"name":"Colour Collection","value":"Signature Premium"},{"id":14,"name":"Main Colour Code","value":"3104-3"},{"id":19,"name":"Frame Wood Type","value":"Oak"},{"id":20,"name":"Leg Wood Type","value":"Oak"},{"id":21,"name":"Leg Colour","value":"Natural"},{"id":22,"name":"Leg Colour Code","value":"Brushed wax finish heritage legs D272-R"},{"id":23,"name":"Finish Type","value":"WBW"},{"id":24,"name":"Inner Filling","value":"Medium Density Foam Core and Polyster wadding"},{"id":30,"name":"Assembly Level","value":"FP"}]},{"id":6376,"sku":"","cost_type":null,"cost_price":null,"is_active":true,"attributes":[]}]}],"count":5,"pages":203,"current_page":3}

# Group Variant

Each Variant belongs to/is a child of a Product and has many Attributes

## All Variants [/variants]

### Try this API [GET]

Paginated lists of all BROSA product variants 

+ Response 200 (application/json)

        {"variants":[{"id":1,"sku":"SOFAKE10BLA","cost_type":null,"cost_price":null,"is_active":false,"attributes":[{"id":12,"name":"Main Colour","value":"Obsidian Black"}]},{"id":2,"sku":"SOFAKE06GRY","cost_type":null,"cost_price":null,"is_active":false,"attributes":[{"id":12,"name":"Main Colour","value":"Gun Metal"}]},{"id":3,"sku":"SOFAKE02GRE","cost_type":null,"cost_price":null,"is_active":false,"attributes":[{"id":12,"name":"Main Colour","value":"Olive Green"}]},{"id":4,"sku":"SOFAKE09BLA","cost_type":null,"cost_price":null,"is_active":false,"attributes":[{"id":12,"name":"Main Colour","value":"Obsidian Black"}]},{"id":5,"sku":"SOFAKE05GRY","cost_type":null,"cost_price":null,"is_active":false,"attributes":[{"id":12,"name":"Main Colour","value":"Gun Metal"}]}],"count":5,"pages":1394,"current_page":1}        

# Group Attributes

## All Attributes [/attributes]

Each Attribute belongs to/is a child of a Product's Variant

### Try this API [GET]

Paginated lists of all BROSA product variant attributes 

+ Response 200 (application/json)

        {"attributes":[{"id":6,"name":"Factory SKU","value":""},{"id":7,"name":"Product Sub-Type","value":""},{"id":8,"name":"Product Width (cm)","value":""},{"id":9,"name":"Product Depth (cm)","value":""},{"id":10,"name":"Product Height (cm)","value":""}],"count":5,"pages":6,"current_page":1}