FORMAT: 1A
HOST: http://core.app/api

#BROSA

The APIs listed in this documentation are for reference purposes. The intent is to provide BROSA products related data as requested in API requests listed in hierarchy

# Group Collection

Collections are the top most parent in the entity hierarchy

## '/collections' [/collections]

### GET [GET]

Paginated lists of all BROSA product collections 

+ Response 200 (application/json)
    
        {"collections":"name"}

### POST [POST]

Create new BROSA product collection

+ Response 200 (application/json)
    
        {"collections":"name"}

## '/collections/{id}'   [/collections/{id}]

### GET [GET]

Details of a specific BROSA product collections.  

+ Response 200 (application/json)
    
        {"collections":"name"}
        
### POST [POST]

Update existing BROSA product collection

+ Response 200 (application/json)
    
        {"collections":"name"}        

## '/collections/{id}/delete' [/collections/{id}/delete]

### POST [POST]

Delete existing BROSA product collection

+ Response 200 (application/json)
    
        {"collections":"name"}

# Group Product

Each Product belongs to/is a child of a Collection and has many Variants

## '/products' [/products]

### GET [GET]

Paginated lists of all BROSA product 

+ Response 200 (application/json)
    
        {"products":"name"}

### POST [POST]

Create new BROSA product 

+ Response 200 (application/json)
    
        {"products":"name"}

## '/products/{id}'   [/products/{id}]

### GET [GET]

Details of a specific BROSA product .  

+ Response 200 (application/json)
    
        {"products":"name"}
        
### POST [POST]

Update existing BROSA product 

+ Response 200 (application/json)
    
        {"products":"name"}        

## '/products/{id}/delete' [/products/{id}/delete]

### POST [POST]

Delete existing BROSA product 

+ Response 200 (application/json)
    
        {"products":"name"}
        
# Group Variant

Each Variant belongs to/is a child of a Product and has many Attributes

## '/variants' [/variants]

### GET [GET]

Paginated lists of all BROSA product variants

+ Response 200 (application/json)
    
        {"variants":"name"}

### POST [POST]

Create new BROSA product variants

+ Response 200 (application/json)
    
        {"variants":"name"}

## '/variants/{id}'   [/variants/{id}]

### GET [GET]

Details of a specific BROSA product variants  

+ Response 200 (application/json)
    
        {"variants":"name"}
        
### POST [POST]

Update existing BROSA product variants

+ Response 200 (application/json)
    
        {"variants":"name"}        

## '/variants/{id}/delete' [/variants/{id}/delete]

### POST [POST]

Delete existing BROSA product variants

+ Response 200 (application/json)
    
        {"variants":"name"}

# Group Attributes

## '/attributes' [/attributes]

### GET [GET]

Paginated lists of all BROSA product/variant attributes

+ Response 200 (application/json)
    
        {"attributes":"name"}

### POST [POST]

Create new BROSA product/variant attributes

+ Response 200 (application/json)
    
        {"attributes":"name"}

## '/attributes/{id}'   [/attributes/{id}]

### GET [GET]

Details of a specific BROSA product/variant attributes  

+ Response 200 (application/json)
    
        {"attributes":"name"}
        
### POST [POST]

Update existing BROSA product/variant attributes

+ Response 200 (application/json)
    
        {"attributes":"name"}        

## '/attributes/{id}/delete' [/attributes/{id}/delete]

### POST [POST]

Delete existing BROSA product/variants attributes

+ Response 200 (application/json)
    
        {"attributes":"name"}